  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="Phone">Phone</a></li>
      <li><a href="/wallet/" title="Wallet">Wallet</a></li>
      <li><a href="/keys/" title="Keys">Keys</a></li>
    </ul>
  </nav>