body {
    font-family: Helvetica, sans-serif;
    color: #000000;
    background-image: linear-gradient(to bottom, #2ecaa3, #ffffff);
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 370px;
    border-radius: 50px;
    background: #000000;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
}

h2 {
    font-size: 3em;
    letter-spacing: -1px;
    font-family:'Courier New', Courier, monospace;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(43, 164, 122) 0%, rgb(45, 253, 253) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px rgb(255, 255, 255);
}

footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

img.keys {
    border: 5px solid;
}

img.phone {
    border: 10px solid;
}

img.wallet{
    border: 7px solid;
}